<!doctype html>
<html lang="pt">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset("assets/css/custom.css") }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}TV Cabinda - Informaçao de e sobre Cabinda{% endblock %}</title>
</head>
<body >
<div id="cabecalho">
    {% if block('cabecalho1') is defined %}
        <header id="cabecalho1" class="d-flex bd-highlight align-items-center d-block">
            <a  class="p-2 flex-grow-1 bd-highlight text-hide" href="#"><img src="{{ asset("uploads/logo.png") }}" alt="">TV Cabinda</a>
            {% if app.user  %}
                <a class="p-2 bd-highlight" href="{{ path('account') }}"><small>{{ app.user.firstname }}</small> </a>
                <a class="p-2 bd-highlight" href="{{ path('app_logout') }}">Sair</a>
            {% else %}
                <a class="p-2 bd-highlight" href="{{ path('app_login') }}">Entrar</a>
                <a class="p-2 bd-highlight" href="{{ path('register') }}">Cadastrar</a>
            {% endif %}
            <a class="p-2 bd-highlight" href="https://www.facebook.com/tvcabinda/"><img src="uploads/facebook.png"></a>
            <a class="p-2 bd-highlight" href="https://www.instagram.com/tvcabinda/"><img src="uploads/instagram.png"></a>
            <a class="p-2 bd-highlight" href="https://www.youtube.com/channel/UCuwtrpqG0kJkvzXIqwQLPwg"><img src="uploads/youtube.png"></a>
        </header>
    {% endif %}
    <div id="cabecalho2" class="nav-scroller py-1 mb-1">
        <nav class="nav d-flex justify-content-between ">
            <a class="p-2 item-nav" href="tecnologia.html">Início</a>
            <a class="p-2 item-nav" href="tecnologia.html">Tecnologia</a>
            <a class="p-2 item-nav" href="cultura.html">Cultura</a>
            <a class="p-2 item-nav" href="negocios.html">Negocios</a>
            <a class="p-2 item-nav" href="politica.html">Politica</a>
            <a class="p-2 item-nav" href="educaçao.html">Educaçao</a>
            <a class="p-2 item-nav" href="ciencia.html">Science</a>
            <a class="p-2 item-nav" href="saude.html">Saude</a>
            <a class="p-2 item-nav" href="moda.html">Moda</a>
            <a class="p-2 item-nav" href="viagens.html">Viagens</a>
        </nav>
    </div>
</div>
{% block content %}

{% endblock %}

{% if block('footer') is defined %}
    <footer class="blog-footer bg-light text-dark text-center p-1">
        <span class=""> tv-Cabinda </span> <br>
        <p><small class="text-muted"> © {{ "now"|date("Y") }} </small></p>
    </footer>
{% endif %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>
</body>
</html>
